.maintitle{
    text-align: center;
}

.contacto{
    text-align: center;
}

#titfor{
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
}
#slogan{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}