body{
    background-color: rgb(194, 188, 240);
    font-family: 'Kanit', sans-serif;
}

.gale{
    display: flex;
}

#texto{
    justify-content: center;
    text-align: center;
}

h1{
    /* font-family: 'Kanit', sans-serif; */
    font-size: 3rem;
    font-weight: 900;
    color: rgb(15, 14, 14);
}

p{
    /* font-family: 'Kanit', sans-serif; */
    font-size: 1.2rem;
}

#button{
    margin-top: 2rem;
}
#carrusel{
    /* width: 45rem;
    height: 40rem; */
    border-radius: 5px;
}
