body{
    background-color: rgb(194, 188, 240);
}

.gale{
    display: flex;
}

#texto{
    justify-content: center;
    text-align: center;
}

h1{
    font-family: 'Rockwell', cursive;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(61, 9, 5);
}

p{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
}

#button{
    margin-top: 2rem;
}
