.flota{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.cont-titulo{
    display: flex;
    align-content: center;
}

#fotologo{
    width: 5rem;
    height: 5rem;
}

h3{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;

}